<div id="productos" class="card mx-2 mb-5 bg-light mb-3 text-center">
    <img src="{{image.path}}" class="card-img-top" width="150" height="150" style="object-fit: cover;"
        alt="{{image.original_name}}">
    <div class="card-body">
        <h5 class="card-title fw-bold text-uppercase mt-2">
            {{image.title}}</h5>
        <br>
        <p class="card-text text-truncate text-uppercase" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Termitas a domicilio sin cargo extra ">
            {{image.description}} </p>
        <button class="btn btn-danger btn-sm text-center" (click)="confirmDelete(image.id, image.title)">Eliminar</button>
    </div>
</div>